* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #052049;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 23px; 
    border-bottom: 1px solid #363636;
}


.logo {
    height: 24px;
    width: auto;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: bold;
    font-style: normal;
    font-size: 200px;
    color: #9BC19F;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.image-container {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #363636;
    padding: 0;
    margin: 0;
}

.billeder {
    width: 393px;
    height: 393px;
    display: block;
    margin: 0 auto;
}

.box1 {
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 60px;
    background-color: #9BC19F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.box1 p {
    color: #052049;
    font-weight: normal;
}

.new-box {
    width: 393px;
    height: 80px;
    background-color: #9BC19F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.new-box p {
    color: #052049;
    font-weight: normal;
}

.arrow-down {
    width: 10px;
    height: 10px;
    border-left: 2px solid #052049;
    border-top: 2px solid #052049;
    transform: rotate(225deg);
    animation: bounce 2s ease-in-out infinite;
    margin-top: 10px;
}

@keyframes bounce {
    0% {
        transform: translateY(5px) rotate(225deg);
    }
    50% {
        transform: translateY(-7px) rotate(225deg);
    }
    100% {
        transform: translateY(5px) rotate(225deg);
    }
}


.divider {
    height: 1px;
    background-color: #363636;
}

.instagram-post {
    width: 393px;
    background-color: #052049;
    color: #9BC19F;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-icon {
    font-size: 30px;
}

.post-dots {
    font-size: 24px;
}

.post-footer {
    padding: 10px;
}

.heart-icon, .comment-icon {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.post-footer p {
    margin-top: 10px;
    color: #9BC19F;
    font-size: 14px;
}