* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #052049;
    font-family: 'Inter', sans-serif;
}

header {
    height: 65px;
    width: 393px;
    background-color: #052049;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 0 23px; 
    border-bottom: 1px solid #363636;
}

.logo {
    height: 24px;
    width: auto;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: bold;
    font-style: normal;
    font-size: 200px;
    color: #9BC19F;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 100vh;
    padding-bottom: 65px;
    width: 393px; /* Fixed width for main */
    margin: 0 auto; /* Center the content */
}

.image-container {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #363636;
    padding: 0;
    margin: 0;
    width: 393px; /* Fixed width */
}

.billeder {
    width: 393px; /* Fixed width */
    height: 393px; /* Fixed height */
    display: block;
    margin: 0 auto;
    object-fit: cover; /* Ensure images maintain aspect ratio */
}

.box1 {
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 60px;
    background-color: #9BC19F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.box1 p {
    color: #052049;
    font-weight: normal;
}

.new-box {
    width: 393px; /* Fixed width */
    height: 80px;
    background-color: #9BC19F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.new-box p {
    color: #052049;
    font-weight: normal;
}

.arrow-down {
    width: 10px;
    height: 10px;
    border-left: 2px solid #052049;
    border-top: 2px solid #052049;
    transform: rotate(225deg);
    animation: bounce 2s ease-in-out infinite;
    margin-top: 10px;
}

@keyframes bounce {
    0% {
        transform: translateY(5px) rotate(225deg);
    }
    50% {
        transform: translateY(-7px) rotate(225deg);
    }
    100% {
        transform: translateY(5px) rotate(225deg);
    }
}

.divider {
    height: 1px;
    background-color: #363636;
    width: 393px; /* Fixed width */
    margin: 0 auto;
    padding: 0;
}

.instagram-post {
    width: 393px; /* Fixed width */
    background-color: #052049;
    color: #9BC19F;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.custom-icon-size {
    font-size: 24px;
    width: 24px;
    height: 24px;
}


.post-dots {
    font-size: 24px;
}

.post-footer {
    padding: 10px;
}

.heart-icon, .comment-icon {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.post-footer p {
    margin-top: 10px;
    color: #9BC19F;
    font-size: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: 393px; /* Fixed width */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #052049;
}

footer .material-symbols-outlined {
    font-size: 28px;
    color: #9BC19F;
}

.artist-header {
    height: 116px;
    width: 393px;
    background-color: #052049;
    margin: 0 auto;
    position: relative;
    padding: 0 23px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #363636;
}

.artist-header h1 {
    color: #9BC19F;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.artist-header .back-icon {
    font-size: 24px;
    color: #9BC19F;
    cursor: pointer;
    position: absolute;
    left: 23px;
    bottom: 10px;
}

a {
    text-decoration: none;
}

.artist-header {
    height: 116px;
    width: 393px;
    background-color: #052049;
    margin: 0 auto;
    position: relative;
    padding: 0 23px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #363636;
}

.artist-header h1 {
    color: #9BC19F;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.artist-header .back-icon {
    font-size: 24px;
    color: #9BC19F;
    cursor: pointer;
    position: absolute;
    left: 23px;
    bottom: 10px;
}

.artist-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
}

.artist-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.artist-details {
    display: flex;
    flex-direction: column;
}

.artist-name, .artist-description {
    font-weight: 600;
    font-size: 14px;
    color: #9BC19F;
    margin: 0;
}

.artist-description {
    font-weight: normal;
    margin-top: 5px;
}

.spotify-link img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    cursor: pointer;
}

.filtrer-knap {
    height: 30px;
    width: 90px;
    background-color: #9BC19F;
    color: #052049;
    font-weight: normal;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
}

.notification-settings {
    padding: 20px;
    color: #9BC19F;
}

.notification-settings h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.notification-settings p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.notification-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notification-option h3 {
    font-size: 14px;
    font-weight: 600;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #9BC19F;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.del-button {
    height: 30px;
    width: 60px;
    background-color: #9BC19F;
    color: #052049;
    font-weight: 600;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 23px;
    bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload-container {
    width: 393px;
    height: 393px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #363636;
    background-color: #052049;
    text-align: center;
    position: relative;
}

.image-upload-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image-upload-box {
    width: 100%;
    height: 100%;
    border: 1px dashed #9BC19F;
    background-color: #1f2b42;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-upload-box p {
    color: #9BC19F;
    font-size: 14px;
    font-weight: normal;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="file"] {
    display: none;
}

.change-image-btn {
    background-color: #9BC19F;
    color: #052049;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    left: 23px;
    padding: 5px 20px;
    display: none;
}

.membership-content {
    padding: 20px;
    background-color: #052049;
    text-align: center;
    color: #9BC19F;
}

.membership-content h2,
.membership-content h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
}

.membership-content .description {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: left;
}

.membership-content ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.membership-content ul li {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
}

.membership-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: flex-start;
}

.input-label {
    font-size: 12px;
    font-weight: normal;
    color: #9BC19F;
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    top: 12px;
}

.input-field {
    padding: 10px;
    border: 2px solid #9BC19F;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    color: #9BC19F;
}

.password-container {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9BC19F;
}

.submit-button {
    background-color: #9BC19F;
    color: #052049;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}


.profile-image {
    text-align: center;
    margin-bottom: 20px;
}

.profile-icon {
    font-size: 80px !important;
    color: #9BC19F;
    margin-top: 20px;
}

.edit-image {
    font-weight: 600;
    font-size: 14px;
    color: #9BC19F;
    margin-top: 10px;
}

.profile-details {
    padding-left: 23px;
    margin-top: 20px;
    width: 100%;
}

.detail-label {
    font-weight: 600;
    font-size: 14px;
    color: #9BC19F;
    margin-right: 10px;
}

.profile-details span {
    display: inline-block;
    margin-top: 5px;
    color: #9BC19F;
    font-size: 14px;
    font-weight: 600;
}

.editable {
    display: inline-block;
    margin-top: 5px;
    color: #9BC19F;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    border-bottom: 1px solid transparent;
    padding-left: 5px;
    white-space: nowrap;
}

.editable:focus {
    border-bottom: 1px solid #9BC19F;
    animation: blinkCaret 0.8s step-end infinite;
}

@keyframes blinkCaret {
    50% {
        border-color: transparent;
    }
}

.security-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9BC19F;
    color: #052049;
    border: none;
    height: 34px;
    width: 348px;
    border-radius: 50px;
    position: relative;
    left: 23px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

.security-button span {
    font-weight: 600;
    padding-left: 10px;
}

.security-button i {
    font-size: 24px;
    color: #052049;
}

.sidebar {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    background-color: #052049;
    color: #9BC19F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #363636;
}

.sidebar a, .sidebar span {
    margin: 6px 0;
    font-size: 24px;
    color: #9BC19F;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar .logo {
    width: 24px;
    height: auto;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .sidebar {
        display: flex !important;
    }

    header, footer {
        display: none !important;
    }

    main {
        margin-top: 80px;
    }
}