* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #052049;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 23px; 
    border-bottom: 1px solid #363636;
}


.logo {
    height: 24px;
    width: auto;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: bold;
    font-style: normal;
    font-size: 200px;
    color: #9BC19F;
    cursor: pointer;
}

.image-container {
    border-bottom: 1px solid #363636;
    padding: 0;
    margin: 0;
}

.radar-image {
    width: 393px;
    height: 393px;
    display: block;
    margin: 0 auto;
}

.divider {
    height: 1px;
    background-color: #363636;
}
